@use 'colors' as *;
@use 'animations' as *;
@use 'large' as *;
@use 'medium' as *;
@use 'small' as *;


*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    // font-family: "Cinzel", serif;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.6rem;
    color: $white;
    background-color: $dark;
}


